Repository liamsorsby/debug-toolbox, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, android, fastlane, kotlin, gradle

.github/labeler.yml:

# Automatically label issues and PRs based on file paths

documentation:
  - "docs/**"
  - "*.md"

ci:
  - ".github/workflows/**"

android:
  - "app/src/**"

fastlane:
  - "fastlane/**"

kotlin:
  - "**/*.kt"

gradle:
  - "*.gradle"
  - "*.gradle.kts"
  - "gradle/**"

Add Apache License 2.0
  LICENSE
Labels: none

Add initial README for debug-toolbox project
  README.md
Labels: documentation

Create pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Add project work issue template
  .github/ISSUE_TEMPLATE/project_work.yml
Labels: none

feat: upgrade gradle and downgrade APG
  .idea/deploymentTargetSelector.xml
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: gradle

feat: implement homescreen and very basic tests #11
  .idea/androidTestResultsUserPreferences.xml
  .idea/deploymentTargetSelector.xml
  app/build.gradle.kts
  app/src/androidTest/java/co/sorsby/tools/ui/screens/home/HomeScreenTest.kt
  app/src/main/java/co/sorsby/tools/data/network/DnsResolver.kt
  app/src/main/java/co/sorsby/tools/ui/models/HomeDestination.kt
  app/src/main/java/co/sorsby/tools/ui/navigation/AppNavigation.kt
  app/src/main/java/co/sorsby/tools/ui/screens/home/HomeScreen.kt
  gradle/libs.versions.toml
Labels: android, kotlin, gradle
